html {scroll-behavior: smooth;}

body{ margin: 0; padding: 0;
background-image:linear-gradient(to right,  #93B5C6 ,#E4D8DC , #FFE3E3);
background-repeat: no-repeat;
background-attachment: fixed;
font-family: Serif ;
}

.h-w{width:50%;}
.f-w{width:100%}
.f-h{height: 100%;}
.h-h{height:50%;}

.bg {background-image: url("../img/bg2022.webp"); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 50%;
    background-position:left top;  }

.headd {
      display: grid;
      grid-template-columns: auto;
      color:#fff;text-align: center;
      box-shadow: 2px 2px 10px 10px #93B5C6;
    }

.t-nav{
font-size: 22px;
font-weight: bold;
width: 100%; 
color: darkred;
height: 32px; 
position: fixed;
top:0;
left:0;
padding-top: 3px;
z-index: 2;
}

.t-nav a { margin: 0 16px;
  padding: 0 10px;}

a:visited{color:#2B4F60;}

nav a:hover {background:#76b49ac4;  border-radius: 15px;}  

.logo {width:30px; height: 30px; float: left;
background: #03090c;}

.t-img {border-radius: 100%;
border: 3px solid #E4D8DC;
box-shadow: #e9ffe3 0 0 10px;
width: 150px;
height: 150px; 
margin-top:42px;
}

.bd{border-bottom:2px #000 solid;
padding:4px;
width: 40%;
margin:15px 0 5% 30%;
}

.row { display: grid;
    grid-template-columns: repeat(3, 20%);
justify-content: center;
font-size: large;  
text-align: center; 
 }

hr{margin-top:33px;
width: 100%;
right: 200px;
}

.col{
    width: 90%;
    padding-left:10px;
  } 

.col h3 {color:#3f51b5;
  letter-spacing: 6px;
text-align: center;}

.img-proj{width: 200px;
    height: 100px;
  display: block;
  padding-left: 14%;}

.box{border: 2px #3f51b5 ridge;line-height: 35px; height:100%;}
.box:hover{border-left: 4px #3f51b5 inset ; border-bottom: 4px #3f51b5 inset ;}

.pub-1{width: 55%; margin-left:22%; background:rgba(255, 255, 255, 0.493);}


small{color: #3f51b5;}

.read{border:2px groove;
border-radius: 6px;
padding:2px;
margin-left:4px;}

.read:hover{color: brown;}
.read:visited {border:2px  groove ;}

a {text-decoration: none; }

ul { list-style: none; }

.l-last{margin-bottom:30px;
  width: 99%;}

.footer{display: grid;width: 100%;}

.t-footer{ display: flex;
    flex-flow: row ;
    padding-left: 20%; 
   padding-bottom: 20px;
  }

.follow{margin-left: 15%;}

.quo{margin-left: 15%;}

.t-footer a {font-size: 32px;
padding: 5px;}

.b-footer{ background: #192f50a4;
  padding-left: 50%; 
  width:50%;
}

.fa {color: #2b3b92;}

blockquote{font-size: 15px; font-style: italic;}

.contain{
  margin:5% 24%;
  border-radius: 10px;
  width: 50%;
  font-family: 'Courier New', Courier, monospace;
  border: outset 3px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.253);
}

.progress {position: relative;
            width: 80%; 
           height: 20px;
           background-color: rgb(114, 110, 111);
           border-radius: 10px; 
           text-align: center;
           z-index: 1;
           }

.p-row {background: rgba(255, 255, 255, 0.199);
border-radius: 10px;
margin-bottom: 30px;
padding:8px;
}


.prog-fill{
    position: absolute;
    color:#000;
    background-color:#0275d8;
    width: 100px;
    height: 20px;
    border-radius: 10px;color: #fff;
    z-index: 1;}

.prog-text {color: #FFF;
              background: yellowgreen;
              height: 20px;
              border-radius: 10px;}

.w100{width: 100%;}
.w90{width: 90%;}
.w80{width: 80%}
.w70{width: 70%;}

form {width: 90%; padding-left: 50px; }
label {font-family: 'Times New Roman', Times, serif; font-size: 20px;}
.in-text{width: 90%; height: 30px;
background: rgba(255, 255, 255, 0.493);
border: #0275d8 solid 2px;
border-radius: 6px;
margin-top: 10px;}


.r-in {width: 20px; height: 20px;}
.btn {width: 90%;
height: 25px;
background: rgba(192, 192, 192, 0.400);
border-radius: 6px;
margin:3px 0 3px;
font-size:16px;
font-weight: bold;
border: #0275d8 2px solid;}
.btn:hover{background: rgb(170, 167, 167);}

/******************************************************************************************************/
@media (min-width: 320px)and (max-width : 420px){
     h2{font-size: 18px; font-weight: bolder;}
   .row{display: block; font-size: 15px;}    /* .col:nth-child(3){display: none;} */
   .t-img{margin-right: 20px; margin-top: 100px; width:130px ; height:130px ;}
   .pub-1 .box{width: 220px; margin-left: -40px;  }
   .pub-1{background:none;}
   .pub-s{ padding-right: 15px;  font-size: 16px;  }            
    .img-proj{display: block; padding-left: 18%; } 
   .r-footer{ display: none;}
    ul:nth-child(3){display: block; padding-left: 0;}
   .contain{margin-top:80px;}
   .prog-text, .prog-fill{font-size: 12px;}
   .t-nav{position: fixed; height: 75px;}
   .t-nav a {font-size: 14px; padding:60px 22px ; color: darkred;  margin: 60px 0;}
  .t-footer{display: block; font-size: 12px;}
  .follow{margin-top: 60px; margin-left:-4px}
  .headd{color:rgb(0, 140, 255); box-shadow: none}
  .bd p{width:180px; margin-left:-22px}
  .contain{width:60%; margin-left:50px}
  form {margin-left:-35px; width: 85%;}
  .r-in{display:block; width: 15px; height: 15px;}
  }

  
/* mid devices (landscape phones,440px and up)***********************************************************/
 @media (min-width: 425px)and (max-width : 590px){
  h2{font-size: 20px; font-weight: bolder;}
  .row{display: block; width: 75%; margin-left:65px;}    /* .col:nth-child(3){display: none;} */
  .t-img{margin-right: 20px; margin-top: 100px; width:130px ; height:130px ;}
  .hd{top:600px;}
  .pub-1 .box{width: 240px; margin-left:0;  }
  .pub-1{background:none;}
  .pub-s{ padding-right: 18px;  font-size: 14px;  }            
   .img-proj{display: block; padding-left:12%; } 
  .r-footer{ display: none;}
   ul:nth-child(3){display: block; padding-left: 0;}
  .contain{margin-top:80px;}
  .prog-text, .prog-fill{font-size: 12px;}
  .t-nav{position: fixed; height: 75px;}
  .t-nav a {font-size: 16px; padding:60px 22px ; color: darkred;  margin: 60px 0;}
 .t-footer{display: block;}
 .contact{margin-top: 60px; margin-left:-4px}
 .follow{margin-top: 60px; margin-left:-4px}
 .headd{color:rgb(255, 255, 255); box-shadow: none}
 .bd {border-bottom:none; width:80%;margin-left:20px;font-size:18px;}
 .contain{width:70%; margin-left:40px}
 form {margin-left:-35px; width: 90%;}
 .r-in{display:block; width: 18px; height: 18px;}
 
 }
  
/* Small devices (landscape phones, 576px and up)*/
    @media (min-width: 600px)and (max-width : 800px){
      h2{font-size: 24px; font-weight: bolder;}
  .row{ display: grid; grid-template-columns: repeat(3, 30%);justify-content: center;text-align: center; }    
  .t-img{margin-right: 20px; margin-top: 70px; width:130px ; height:130px ;}
  .hd{top:600px;}
  .pub-1 .box{width: 90%; margin-left:10px;  }
  .pub-1{background:none;}
  .pub-s{ padding-right: 18px;  font-size: 14px;  }            
   .img-proj{display: block; padding-left:20px; width: 140px;} 
  .r-footer{ display: none;}
   ul:nth-child(3){display: block; padding-left: 0;}
  .contain{margin-top:80px;}
  .prog-text, .prog-fill{font-size: 12px;}
  .t-nav{position: fixed; height: 50px;}
  .t-nav a {font-size: 16px; padding:60px 22px ; color: darkred;  margin: 60px 0;}
 /* .t-footer{display: block;} */
 .contact{margin-top: 60px; margin-left:-4px}
 .follow{margin-top: 60px; margin-left:-4px}
 .headd{color:rgb(0, 0, 0); box-shadow: none}
 .bd {width:70%;margin-left:90px;font-size:18px;}
 .col h3{letter-spacing:0 ;}
 .contain{width:90%; margin-left:30px}
 form {margin-left:-35px; width: 90%;}
 .r-in{ width: 18px; height: 18px;}
 
     }
 
     @media  (width : 1024px){ .img-proj{display: block; padding-left:20px; width: 140px;} }
       

     
/****************************************************************************************************************************/